
/* 텍스트 숨기기 */
.textHide{text-indent: -9999px; background: var(--BGImg-basic);}

/* 버튼 */
[class^="btn"]{text-align: center; border-radius: 4px; box-sizing: border-box; border-width: 1px; border-style: solid;
    &:not(.btn-gray){font-weight: 700; border-color: var(--color-point);}
}
[class^="btn-bg"]{background-color: var(--color-point); color: white;}
[class^="btn-border"]{background-color: white; color: var(--color-point);}
[class^="btn"][class$="big"]{width: 100%;}
[class^="btn"][class$="small"]{display: block; font-size: 15px; line-height: 48px;}

/* 인풋 */
input:not([type="submit"], [type="checkbox"], [type="radio"]), textarea{padding: 16px 15px; border: 1px solid rgba(220, 220, 220, 1); border-radius: 4px; box-sizing: border-box;}
/* input[type="text"], input[type="password"], input[type="search"]{height: 50px;} */
input:not([type="submit"], [type="checkbox"], [type="radio"]){height: 50px;}
:is(input, textarea)::placeholder{color: var(--color-placeholder);}
:is(input, textarea).error{border-color: var(--color-point); outline: var(--color-point);}
label:has(+ div :is(input, textarea)){font-size: 15px; line-height: 18px; font-weight: 700;}
input[readOnly]{background-color: #ededed;}
div:has(input.error){position: relative;}
div:has(input.error)::after{content: attr(data-err-essage); position: absolute; left: 0; top: 100%; font-size: 14px; font-weight: 400; color: var(--color-point);}

/* 검색, 셀렉트 */
.selectBox, .searchBox{--borderRadius: 4px; --height: 48px; --paddingInline: 15px; --iconSize: 18px; position: relative; border-radius: var(--borderRadius);}
.selectBox > button::after, .searchBox button{aspect-ratio: 1; position: absolute; right: var(--paddingInline); top: 50%; translate: 0 -50%; width: var(--iconSize);}
.selectBox{border: 1px solid var(--color-border);
    button{height: var(--height); text-align: left;}
    > button{width: 100%; color: var(--color-basic); height: var(--height); padding-inline: var(--paddingInline) calc(var(--paddingInline) * 2 + var(--iconSize)); box-sizing: border-box;
        &:empty::before{content: '분류 전체'; color: var(--color-placeholder);}
        &:after{content: ''; background: url('../images/icon-arrow.png') var(--BGImg-basic); pointer-events: none;}
        &:has(+ div)::after{rotate: 180deg;}
    }
    div{position: absolute; left: 0; top: calc(100% + 10px); border: 1px solid black; border-radius: var(--borderRadius); width: 100%; background-color: white;
        button{padding-inline: var(--paddingInline); width: 100%;}
    }
}

.searchBox{
    button{text-indent: -9999px; background: url('../images/icon-search.png') var(--BGImg-basic);}
}


/* 게시물 */
.board-title, .board-list li a{display: flex; align-items: center;}
.board-title{height: 56px; font-weight: 700; border-top: 2px solid #000; background-color: #F7F7F7;}
.board-title, .board-list li a *:not(p){text-align: center;}
:is(.board-title p, .board-list li a p){flex: 1;}

.board-list{
    &:empty{border-bottom: 1px solid var(--color-border);}
    li{
        a{height: 80px; border-bottom: 1px solid var(--color-border);}
    }
}


/* 체크박스 */
input[type="checkbox"]{
    & + label{font-size: 15px; font-weight: 400; display: flex; align-items: center; gap: 8px; cursor: pointer;
        &::before{--idx: 0; content: ''; width: 20px; aspect-ratio: 1; background: url(../images/icon-checkbox.png) no-repeat left top calc(100% * var(--idx)) / 100%;}
        &:not(:last-of-type){margin-bottom: 20px;}
    }
    &:checked + label::before{--idx: 1;}
    &.error + label span{color: var(--color-point);}
} 

[data-styleIdx] > *::before{background-position: left top calc(100% * var(--styleIdx)); background-size: 100%;}

/* 팝업 */
body:has([popover]){pointer-events: none; overflow: hidden;}
[popover]{pointer-events: all; width: 320px; text-align: center; padding: 30px; border: 1px solid var(--color-point); border-radius: var(--box-radius); box-sizing: border-box;
    strong{display: block; font-size: 18px; font-weight: 700; margin-bottom: 40px;}
    p{font-size: 15px; font-weight: 400; line-height: 18px; margin-bottom: 30px;}
    input[type="password"]{height: 50px; margin-bottom: 30px;}
    div{display: flex; justify-content: center; gap: 10px;
        button{width: 106px; line-height: 48px; border-radius: 4px; font-size: 15px; font-weight: 700; border: 1px solid var(--color-point);}
        button:first-child{color: var(--color-point);}
        button:last-child{color: white; background-color: var(--color-point);}
    }
}
[popover]:popover-open::backdrop{background-color: rgba(0, 0, 0, 0.3);}
/* ----------------- */
body:has(.popup){overflow: hidden;}
.popup{position: fixed; inset: 0; background-color: rgba(0, 0, 0, 0.3); display: flex; justify-content: center; align-items: center; z-index: 100;
    & > div{width: 320px; text-align: center; padding: 30px; background-color: white; border: 1px solid var(--color-point); border-radius: var(--box-radius); box-sizing: border-box;
        strong{display: block; font-size: 18px; font-weight: 700; margin-bottom: 40px;}
        p{font-size: 15px; font-weight: 400; line-height: 18px; margin-bottom: 30px;}
        div{
            button{width: 106px; line-height: 48px; border-radius: 4px; font-size: 15px; font-weight: 700; color: white; background-color: var(--color-point);}
        }
    }
}

.board-paging{display: flex; justify-content: center; align-items: center; --gap: 10px; gap: var(--gap);}
.board-paging > a{--iconSize: 24px; width: var(--iconSize); aspect-ratio: 1; text-indent: -9999px; background: url('../images/icon-pagination.png') left top calc(100% / var(--styleTotal) * var(--styleIdx)) / 100%;}
.board-paging ol{display: flex; justify-content: center; align-items: center; gap: var(--gap);}
.board-paging ol li a{width: 24px; line-height: 24px; font-weight: 700; text-align: center;
    &.active{color: var(--color-point); text-decoration: underline; text-underline-offset: 2px; text-decoration-thickness: 2px;}
}