/* 테스트페이지 - 나중에 삭제 */
input[type='radio']:checked + label{color: red;}

/* 텍스트 숨기기 */
.textHide{text-indent: -9999px; background: var(--BGImg-basic);}

/* 버튼 */
[class^="btn"]{font-weight: 700; text-align: center; border: 1px solid var(--color-point); border-radius: 4px; box-sizing: border-box;}
[class^="btn-bg"]{background-color: var(--color-point); color: white;}
[class^="btn-border"]{background-color: white; color: var(--color-point);}
[class^="btn"][class$="big"]{width: 100%;}
[class^="btn"][class$="small"]{display: block; font-size: 15px; line-height: 48px;}

/* 인풋 */
input:not([type="submit"], [type="checkbox"], [type="radio"], [type="search"]), textarea{padding: 16px 15px; border: 1px solid rgba(220, 220, 220, 1); border-radius: 4px; box-sizing: border-box;}
input[type="text"], input[type="password"]{height: 50px;}
input[type="search"]{border: none;}
:is(input, textarea)::placeholder{color: var(--color-placeholder);}
:is(input, textarea).error{border-color: var(--color-point); outline: var(--color-point);}
label:has(+ div :is(input, textarea)){font-size: 15px; line-height: 18px; font-weight: 700;}
input[readOnly]{background-color: #ededed;}
div:has(input.error){position: relative;}
div:has(input.error)::after{content: attr(data-err-essage); position: absolute; left: 0; top: 100%; font-size: 14px; font-weight: 400; color: var(--color-point);}

/* 체크박스 */
input[type="checkbox"]{
    & + label{font-size: 15px; font-weight: 400; display: flex; align-items: center; gap: 8px; cursor: pointer;
        &::before{--idx: 0; content: ''; width: 20px; aspect-ratio: 1; background: url(../images/icon-checkbox.png) no-repeat left top calc(100% * var(--idx)) / 100%;}
        &:not(:last-of-type){margin-bottom: 20px;}
    }
    &:checked + label::before{--idx: 1;}
    &.error + label span{color: var(--color-point);}
} 

[data-styleIdx] > *::before{background-position: left top calc(100% * var(--styleIdx)); background-size: 100%;}

/* 팝업 */
body:has([popover]){pointer-events: none; overflow: hidden;}
[popover]{pointer-events: all; width: 320px; text-align: center; padding: 30px; border: 1px solid var(--color-point); border-radius: var(--box-radius); box-sizing: border-box;
    strong{display: block; font-size: 18px; font-weight: 700; margin-bottom: 40px;}
    p{font-size: 15px; font-weight: 400; line-height: 18px; margin-bottom: 30px;}
    input[type="password"]{height: 50px; margin-bottom: 30px;}
    div{display: flex; justify-content: center; gap: 10px;
        button{width: 106px; line-height: 48px; border-radius: 4px; font-size: 15px; font-weight: 700; border: 1px solid var(--color-point);}
        button:first-child{color: var(--color-point);}
        button:last-child{color: white; background-color: var(--color-point);}
    }
}
[popover]:popover-open::backdrop{background-color: rgba(0, 0, 0, 0.3);}
/* ----------------- */
body:has(.popup){overflow: hidden;}
.popup{position: fixed; inset: 0; background-color: rgba(0, 0, 0, 0.3); display: flex; justify-content: center; align-items: center; z-index: 100;
    & > div{width: 320px; text-align: center; padding: 30px; background-color: white; border: 1px solid var(--color-point); border-radius: var(--box-radius); box-sizing: border-box;
        strong{display: block; font-size: 18px; font-weight: 700; margin-bottom: 40px;}
        p{font-size: 15px; font-weight: 400; line-height: 18px; margin-bottom: 30px;}
        div{
            button{width: 106px; line-height: 48px; border-radius: 4px; font-size: 15px; font-weight: 700; color: white; background-color: var(--color-point);}
        }
    }
}

/* 탭 */
[class $= 'Page']> ul{display: flex; justify-content: center; gap: 60px; border-bottom: 1px solid var(--color-border);
    :is(:not(:has(.active)) li:first-child a, li a.active){color: var(--color-basic);
        &::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: var(--color-point);}
    }
    li{
        a{font-size: 16px; font-weight: 700; color: var(--color-gray); line-height: 60px; position: relative;}
    }
}

/* 게시물 */
[class^="board"]{font-size: 15px;}
.board-menu{display: flex; align-items: center; column-gap: 10px;
    :is(strong, span){font-size: 20px; line-height: 24px; font-weight: 500;}
    span{color: #999;
        strong{color: var(--color-basic);}
    }

    .selectBox, .searchBox{--borderRadius: 4px; --height: 50px; --paddingInline: 15px; --iconSize: 18px; border: 1px solid var(--color-border); position: relative; border-radius: var(--borderRadius);}
    .selectBox > button, .searchBox input{height: var(--height); padding-inline: var(--paddingInline) calc(var(--paddingInline) * 2 + var(--iconSize)); box-sizing: border-box;}
    .selectBox > button::after, .searchBox button{aspect-ratio: 1; position: absolute; right: var(--paddingInline); top: 50%; translate: 0 -50%; width: var(--iconSize);}
    .selectBox{
        button{height: var(--height); text-align: left;}
        > button{width: 100%; color: var(--color-basic);
            &:empty::before{content: '분류 전체'; color: var(--color-placeholder);}
            &:after{content: ''; background: url('../images/icon-arrow.png') var(--BGImg-basic); pointer-events: none;}
            &:has(+ div)::after{rotate: 180deg;}
        }
        div{position: absolute; left: 0; top: calc(100% + 10px); border: 1px solid black; border-radius: var(--borderRadius); width: 100%; background-color: white;
            button{padding-inline: var(--paddingInline); width: 100%;}
        }
    }

    .searchBox{
        button{text-indent: -9999px; background: url('../images/icon-search.png') var(--BGImg-basic);}
    }
}

.board-scroll{
    .board-title, .board-list li a{display: flex; align-items: center;}
    .board-title{height: 56px; font-weight: 700; border-top: 2px solid #000; background-color: #F7F7F7;}
    .board-title, .board-list li a *:not(p){text-align: center;}
    :is(.board-title b, .board-list li a span):not(:last-child){width: 60px;}
    :is(.board-title p, .board-list li a p){flex: 1;}
    :is(.board-title b, .board-list li a *):last-child{width: 75px;}

    [class ^= 'board-list']{
        &:empty{text-align: center;
            &::before{content: '게시물이 없습니다.';}
        }
    }

    .board-list{
        &:empty{border-bottom: 1px solid var(--color-border);
            &::before{line-height: 100px;}
        }
        li{
            &[data-new="y"] {
                p{font-weight: 700;}
                time{position: relative;
                    &::before{content: ''; position: absolute; left: 15px; top: 50%; transform: translateY(-50%); width: 20px; aspect-ratio: 1; background: url('../images/icon-new.png') no-repeat center / cover;}
                }
            }
            a{height: 80px; border-bottom: 1px solid var(--color-border);
                &.secret p{ display: flex; align-items: center;
                    &::before{content: ''; width: 24px; aspect-ratio: 1; background: url('../images/icon-lock.png') no-repeat center / cover; margin-right: 0.4em;}
                }
            }
        }
    }

    .board-list-img{
        &:empty&::before{line-height: 300px;}
        li{
            a{
                img{width: 100%; object-fit: cover; object-position: center; border-radius: var(--box-radius);}
                p{font-weight: 400;}
                time{font-weight: 400; color: #999;}
            }
        }
    }
}


.board-paging{display: flex; justify-content: center; align-items: center; --gap: 10px; gap: var(--gap);}
.board-paging > a{--iconSize: 24px; width: var(--iconSize); aspect-ratio: 1; text-indent: -9999px; background: url('../images/icon-pagination.png') left top calc(100% / var(--styleTotal) * var(--styleIdx)) / 100%;}
.board-paging ol{display: flex; justify-content: center; align-items: center; gap: var(--gap);}
.board-paging ol li a{width: 24px; line-height: 24px; font-weight: 700; text-align: center;
    &.active{color: var(--color-point); text-decoration: underline; text-underline-offset: 2px; text-decoration-thickness: 2px;}
}


/* 해더 */
header{position: fixed; inset: 0 0 auto 0; z-index: 10; animation-name: headerBG, headerColor; animation-duration: 1s; animation-fill-mode: forwards; animation-timeline: scroll(); --animationEnd: 100px; animation-range-start: 0; animation-range-end: var(--animationEnd);
    & > div{max-width: 1920px; margin-inline: auto; position: relative;
        h1{
            a{height: var(--height); display: block; aspect-ratio: 142 / 48; background: url(../images/logo.png) center top / 100%; text-indent: -9999px; animation: logo 1s both; animation-timeline: scroll(); animation-range-start: 0; animation-range-end: var(--animationEnd);}
        }
        nav{ 
            ul{
                li {
                    a{font-weight: 700;}
                }
            }
            div{position: absolute;
                :is(a, button){font-weight: 400;}
            }
        }
    }
}

@keyframes headerBG {
    0%{background-color: transparent;}
    100%{background-color: white;}
}

@keyframes logo {
    0%{background-position-y: 0;}
    100%{background-position-y: calc(var(--height) * -1);}
}

/* 모든 페이지 */
[class$="Page"]{
    & > div{margin-inline: auto;}
    &:not([class^="sign"]) > div:first-of-type{max-width: min(var(--content-size), var(--content-margin));}
}

/* 서브 페이지 */
[class$="Page"]:not(.mainPage){
    h2{padding: 180px var(--content-padding-inline) 144px; font-weight: 700; color: white; background-position: center; background-size: cover; /* margin-bottom: 90px; */}
    &:not([class^="sign"]) > div:first-of-type{
        h3{font-weight: 700;}
    }
    &[class^="sign"] > div:first-of-type{max-width: min(400px, var(--content-margin));}
}
.introductionPage h2{background-image: url(../images/topBG-introduction.png);}
.vipPage h2{background-image: url(../images/topBG-VIP.png);}
.recommendationPage h2{background-image: url(../images/topBG-introduction.png);}
.revenuePage h2{background-image: url(../images/topBG-revenue.png);}
.stockPage h2{background-image: url(../images/topBG-stock.png);}
.customerPage h2{background-image: url(../images/topBG-customer.png);}
[class^="sign"] h2{background-image: url(../images/topBG-sign.png);}


/* 푸터 */
footer{padding-inline: var(--content-padding-inline); color: var(--color-gray); background-color: #F2F3F8; 
    ul:has(a):not(:has(p)){display: flex; font-weight: 700;}
    div{grid-column: 1 / 2; grid-row: 2 / 3; aspect-ratio: 142 / 48; text-indent: -9999px; background: url(../images/logo.png) no-repeat center bottom / 100%; }
    address{font-weight: 400;
        dl{display: flex;}
    }
    > p{font-weight: 400;}
    ul:has(a):has(p){
        li{
            p{font-weight: 700;}
            p + *{font-weight: 700;}
        }
    }
    ul:not(:has(a), :has(p)){display: flex;
        li{aspect-ratio: 140 / 40; background: url(../images/logo-footer.png) no-repeat left top calc(100% / var(--styleTotal) * var(--styleIdx)) / 100%; text-indent: -9999px;}
    }
}
