/* 버튼 */
[class^="btn"][class$="big"]{font-size: 15px; line-height: 48px;}


/* 게시물 */
.board-menu{margin-bottom: 20px; row-gap: 30px; flex-wrap: wrap;
    :is(strong, span){font-size: 15px; line-height: 18px;}
    span{order: 1; width: 100%;}

    .btn-bg-small{width: 125px;}

    .selectBox{width: 125px;}

    .searchBox{flex: 1;
        input{width: 100%;}
    }
}

.board-scroll{overflow: auto;
    .board-title, .board-list li a{padding-inline: 30px; min-width: 800px;}
    :is(.board-title b, .board-list li a :is(span, time)){padding-inline: 20px;}
    :is(.board-title p, .board-list li a p){padding-inline: 10px;}

    .board-list{
        li{
            a{height: 70px;}
        }
    }
    &:has(.board-list) ~ .board-paging{margin-top: 50px;}
    
    .board-list-img{
        li{
            &:not(:last-child){margin-bottom: 30px;}
            a{display: block; 
                img{width: 100%; max-height: 210px; margin-bottom: 20px;}
                p{font-size: 15px; line-height: 22px; margin-bottom: 10px;}
                time{font-size: 13px; line-height: 16px;}
            }
        }
    }
    &:has(.board-list-img) ~ .board-paging{margin-top: 30px;}
    
}
.board-paging ol{margin-inline: 10px;
    li a{font-size: 13px;}
}



/* 해더 */
body:has(header.active){overflow: hidden;}
header{padding-inline: var(--content-size-mobile); --headerHeight: 56px; background-color: transparent; 
    & > div{height: var(--headerHeight); display: flex; justify-content: space-between; align-items: center;
        h1{
            a{--height: 34px; background-position-y: 0;}
        }
        nav{display: none; --paddingBlock: 30px; position: fixed; inset: var(--headerHeight) 0 0 0; background-color: white; padding: var(--paddingBlock) var(--content-size-mobile);
            ul{
                li {
                    a{display: block; font-size: 20px; line-height: 24px; font-weight: 700; color: var(--color-basic);}
                    &:not(:last-child){margin-bottom: 30px;}
                }
            }
            div{left: var(--content-size-mobile); bottom: var(--paddingBlock); transform: translateY(-50%); display: flex; gap: 24px;
                :is(a, button){font-size: 15px; line-height: 18px; font-weight: 500;}
            }
        }
        & > button{--height: 26px; height: var(--height); aspect-ratio: 1; background: url(../images/icon-menu.png) left top / 100%; text-indent: -9999px; animation: menu 1s forwards; animation-timeline: scroll(); animation-range-start: 0; animation-range-end: 200px;}
    }
    &.active{animation: none; background-color: white;
        div{
            h1 a{animation: none; background-position-y: var(--height); transition: background-position-y 1s;}
            nav{display: block;}
            & > button{animation: none; background-position-y: calc(var(--height) * 2 * -1);}
        }
    }
}

@keyframes menu {
    0%{background-position-y: 0;}
    100%{background-position-y: calc(var(--height) * -1);}
}


/* 모든 페이지 */


/* 서브 페이지 */
[class$="Page"]:not(.mainPage){
    h2{font-size: 30px; line-height: 36px; text-align: center;}
    & > div{margin-block: 60px;}
    &:not([class^="sign"]) > div:first-of-type{
        h3{font-size: 26px; line-height: 36px; margin-bottom: 20px;}
    }
}
.introductionPage h2{background-image: url(../images/topBG-introduction-m.png);}
.vipProductPage h2{background-image: url(../images/topBG-VIP-m.png);}
.recommendationPage h2{background-image: url(../images/topBG-introduction-m.png);}
.revenuePage h2{background-image: url(../images/topBG-revenue-m.png);}
.stockPage h2{background-image: url(../images/topBG-stock-m.png);}
.customerPage h2{background-image: url(../images/topBG-customer-m.png);}
.infoChangePage h2{background-image: url(../images/topBG-infoChange-m.png);}
[class^="sign"] h2{background-image: url(../images/topBG-sign-m.png);}


/* 푸터 */
footer{padding-block: 50px 120px;
    ul:has(a):not(:has(p)){gap: 20px; font-size: 13px; line-height: 16px; margin-bottom: 30px;}
    div{margin-bottom: 20px; width: 88px;}
    address{font-size: 12px; line-height: 18px; margin-bottom: 30px;}
    > p{font-size: 11px; line-height: 15px; margin-bottom: 30px;}
    ul:has(a):has(p){ margin-bottom: 30px;
        li{font-size: 12px; line-height: 18px;
            &:not(:last-child){margin-bottom: 10px;}
            p{color: #666;}
            br{content: ''; margin-left: 0.4em;}
        }
    }
    ul:not(:has(a), :has(p)){gap: 10px;
        li{width: 84px;}
    }
}