
/* 메인 페이지 */
.mainPage{
    > p{font-weight: 400; color: white; text-align: center; background: url(../images/main-slider01.png) no-repeat center / cover; position: relative;
        strong{font-weight: 700; display: block;}
        &::after{content: ''; position: absolute; left: 50%; bottom: 50px; transform: translateX(-50%); aspect-ratio: 1; background: url(../images/icon-scroll.png) no-repeat center / cover;}
    }
    > div:first-of-type{font-size: 15px;
        section{
            h2{font-weight: 700;}
            ul li a p{font-weight: 500; text-overflow: ellipsis; overflow: hidden;}
        }
        > *:not(.serviceArea){width: calc((100% - var(--gap)) / 2); position: relative;}
        > section:not(.serviceArea){
            ul:empty{text-align: center; padding-block: 65px;
                &::before{content: '게시물이 없습니다.';}
            }
            ul:not(:has([style])){border-block: 1px; border-block-color: black var(--color-border); border-block-style: solid;
                li{
                    &:not(:last-child) a{border-bottom: 1px solid var(--color-gray);}
                    a{line-height: 47px; display: flex; justify-content: space-between;
                        p{white-space: none;}
                        time{font-weight: 400; color: var(--color-gray);}
                    }
                }
            }
            ul:has([style]){display: flex; --gap: 20px; gap: var(--gap);
                li{width: calc((100% - var(--gap)) / 2); border-radius: var(--box-radius);
                    a{width: 100%; height: 240px; display: flex; flex-direction: column; justify-content: flex-end; padding: 20px; box-sizing: border-box;
                        p{line-height: 20px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
                        time{font-size: 13px; line-height: 16px; margin-top: 8px; color: rgba(255, 255, 255, 0.5);}
                    }
                }
            }
            > a{position: absolute; right: 0; width: 20px; aspect-ratio: 1; background-image: url(../images/icon-more.png);}
        }
        > div{--padding: 30px; padding: var(--padding); color: white; background-color: var(--color-point); border-radius: var(--box-radius); box-sizing: border-box;
            h2{font-weight: 600;}
            strong{font-weight: 700;}
            a{position: absolute; right: var(--padding); bottom: var(--padding); aspect-ratio: 1; text-indent: -9999px; background: url(../images/icon-link.png) left top / 100%;}
        }
        .serviceArea{
            ul{
                li{
                    a{display: block; --padding: 30px; height: 204px; font-weight: 700; padding: var(--padding); background-color: #f7f7f7; border-radius: var(--box-radius); box-sizing: border-box; position: relative;
                        &::after{content: ''; position: absolute; right: var(--padding); bottom: var(--padding); aspect-ratio: 1; background: url(../images/icon-service.png) no-repeat left top calc(100% / var(--styleTotal) * var(--styleIdx)) / 100%;}
                    }
                }
            }
        }
    }
    .principleArea{padding-inline: var(--content-padding-inline); background: url(../images/main-rule.png) no-repeat center / cover; color: white;
        h2{font-weight: 700; text-align: center;}
        ul{
            li{border-top: 2px solid white;
                strong{font-weight: 700; display: block;}
            }
        }
    }
}


/* 소개 */
.introductionPage div{
    p{font-size: 20px; line-height: 32px; margin-bottom: 70px; font-weight: 400;}
    ul{display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; margin-bottom: 120px;
        li{font-size: 28px; line-height: 33px; color: white; font-weight: 600; padding: 40px; display: grid; align-items: flex-end; background-position: center; background-size: cover; background-repeat: no-repeat; box-sizing: border-box;
            &:nth-child(1){background-image: url(../images/introduction-wealth01.png); grid-column: 1/ 3; aspect-ratio: 1240 / 300;}
            &:nth-child(2){background-image: url(../images/introduction-wealth02.png); aspect-ratio: 610 / 300;}
            &:nth-child(3){background-image: url(../images/introduction-wealth03.png); aspect-ratio: 610 / 300;}
        }
    }
    iframe{width: 100%; aspect-ratio: 1240 / 460;}
    dl{display: flex; gap: 60px; margin-top: 50px;
        dt{margin-right: 20px; font-size: 24px; line-height: 34px; font-weight: 700;}
        dd{font-size: 20px; line-height: 32px; font-weight: 400; display: flex; align-items: center;
            &::before{content: ''; width: 32px; aspect-ratio: 1; margin-right: 20px; background-image: url(../images/icon-location.png);}
        }
    }
}


/* vip */
.vipPage div{
    ul li{height: 460px; display: flex; flex-direction: column; justify-content: center; align-content: space-between; flex-wrap: wrap;
        &:nth-child(2n + 1) div{order: 1;}
        &:not(:last-child){margin-bottom: 120px;}
        div{min-height: 100%; width: 68%; background-position: center; background-size: cover; background-repeat: no-repeat; border-radius: var(--box-radius); display: flex; flex-direction: column; justify-content: flex-end; box-sizing: border-box;
            padding: 40px; font-size: 20px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 0.5);
            mark{font-size: 40px; line-height: 48px; margin-top: 10px; font-weight: 600; color: white;}
        }
        & > *:not(div){width: 24%;}
        strong{font-size: 30px; line-height: 34px; margin-bottom: 30px; font-weight: 700;
            span{display: block; margin-top: 12px;}
        }
        p{font-size: 20px; line-height: 32px; font-weight: 400; margin-bottom: 20px; white-space: break-spaces;}
        small{font-size: 15px; line-height: 20px; font-weight: 400; color: #999; max-width: 255px;}
        a{max-width: 169px; line-height: 50px; margin-top: 50px; text-align: center; font-weight: 700; background-color: var(--color-point); color: white; border-radius: 4px;}
    }
}


/* 상세페이지 */
.detailPage > div{font-size: 15px; display: flex; flex-direction: column;
    > a{width: 86px; line-height: 48px; font-weight: 500; color: var(--color-placeholder); text-align: center; border: 1px solid var(--color-border); border-radius: 4px;
        &:nth-of-type(1){margin-bottom: 15px; align-self: flex-end;}
        &:nth-of-type(2){margin-top: 30px; align-self: center;}
    }
    > div:has( ~ a ){padding-block: 30px;}
    .detail-title{padding-inline: 20px; border-top: 2px solid #000; border-bottom: 1px solid var(--color-border);
        h3{font-size: 30px; line-height: 36px; font-weight: 700;}
        &::after{content: ''; display: block; clear: both; visibility: hidden;}
        :is(span, time){--color: #999; font-size: 20px; line-height: 24px; font-weight: 400; color: var(--color); float: left;}
        span{margin-right: 0.8em; position: relative;
            &::after{width: 2px; height: 0.9em; right: -0.4em; top: 50%; transform: translateY(-50%); background-color: var(--color); content: ''; position: absolute;}
        }
    }
    .detail-content{padding-inline: 30px; min-height: 290px;}
    .detail-comments{padding-inline: 50px; border-block: 1px solid var(--color-border); background-color: #f7f7f7;}
    .detail-post{margin-top: 70px;
        a{padding: 30px 20px; display: flex; border-bottom: 1px solid var(--color-border);
            &:first-child{border-top: 1px solid var(--color-border);}
            strong{margin-left: 80px; font-weight: 700;}
        }
    } 
}


/* 로그인, 회원가입 */
[class^="sign"] div form fieldset{
    legend{font-size: 36px; line-height: 43px; font-weight: 700; text-align: center; margin-bottom: 60px;}
    ul{
        & li:not(:last-child){margin-bottom: 30px;}
        li{
            label{display: block; font-size: 15px; line-height: 18px; font-weight: 700; margin-bottom: 15px;
                &:has( + div :required)::after{content: '*'; color: var(--color-point);}
            }
            div{position: relative;
                &:not(:last-of-type){margin-bottom: 10px;}
                input{width: 100%; height: 50px; padding-inline: 15px; border-radius: 4px; box-sizing: border-box;
                    &::placeholder{color: #bbb;}
                }
                button{position: absolute; right: 15px; top: 50%; transform: translateY(-50%); font-size: 14px; font-weight: 700; text-decoration: underline; color: var(--color-point);}
            }
        }
    }
}
/* 로그인 */
.signInPage div{
    form fieldset {
        & > div{margin-top: 15px;}
        input[type="submit"]{margin-top: 30px;}
        p{visibility: hidden; margin-top: 15px;
            &.error{visibility: visible; font-size: 14px; font-weight: 400; line-height: 17px; text-align: center; color: var(--color-point);}
        }
    }
    strong{font-size: 15px; font-weight: 700; margin-bottom: 10px; display: block;
        &:first-of-type{margin-top: 70px;}
        &:not(:first-of-type){margin-top: 30px;}
    }
}

/* 회원가입 */
.signUpPage div form fieldset{
    & > div{margin-top: 60px; padding-block: 30px; border-block-width: 2px 1px; border-block-color: #000 #DCDCDC; border-block-style: solid;}
    input[type="submit"]{margin-top: 65px;}
}
