

/* 나중에 삭제 */
.mainPage{
    div{height: 500px; background-color: lightblue;}
}

/* 로그인, 회원가입 */
[class^="sign"] div form fieldset{
    legend{font-size: 36px; line-height: 43px; font-weight: 700; text-align: center; margin-bottom: 60px;}
    ul{
        & li:not(:last-child){margin-bottom: 30px;}
        li{
            label{display: block; font-size: 15px; line-height: 18px; font-weight: 700; margin-bottom: 15px;
                &:has( + div :required)::after{content: '*'; color: var(--color-point);}
            }
            div{position: relative;
                &:not(:last-of-type){margin-bottom: 10px;}
                input{width: 100%; height: 50px; padding-inline: 15px; border-radius: 4px; box-sizing: border-box;
                    &::placeholder{color: #bbb;}
                }
                button{position: absolute; right: 15px; top: 50%; transform: translateY(-50%); font-size: 14px; font-weight: 700; text-decoration: underline; color: var(--color-point);}
            }
        }
    }
}
/* 로그인 */
.signInPage div{
    form fieldset {
        & > div{margin-top: 15px;}
        input[type="submit"]{margin-top: 30px;}
        p{visibility: hidden; margin-top: 15px;
            &.error{visibility: visible; font-size: 14px; font-weight: 400; line-height: 17px; text-align: center; color: var(--color-point);}
        }
    }
    strong{font-size: 15px; font-weight: 700; margin-bottom: 10px; display: block;
        &:first-of-type{margin-top: 70px;}
        &:not(:first-of-type){margin-top: 30px;}
    }
}

/* 회원가입 */
.signUpPage div form fieldset{
    & > div{margin-top: 60px; padding-block: 30px; border-block-width: 2px 1px; border-block-color: #000 #DCDCDC; border-block-style: solid;}
    input[type="submit"]{margin-top: 65px;}
}
