/* 관리자 */
/* 로그인 페이지 */
.signInPage{height: 100vh; display: flex; justify-content: center; align-items: center; background-color: var(--color-gray);
    form{width: 300px; padding: 50px; border: 1px solid var(--color-border); border-radius: var(--box-radius); background-color: white;
        h2{font-size: 36px; line-height: 43px; margin-bottom: 30px; font-weight: 700; text-align: center;}
        ul{margin-bottom: 30px;
            li{
                &:not(:last-child){margin-bottom: 20px;}
                div input{width: 100%;}
            }
        }
        input[type="submit"]{height: 50px;}
    }
}


/* 상세페이지 */
.detailPage{
    ul{border-top: 1px solid var(--color-border);
        li{display: flex; border-bottom: 1px solid var(--color-border);
            > *{padding: 10px;}
            label{width: 100px; text-align: center; line-height: 50px; background-color: #F7F7F7;}
            div{flex: 1;
                input[type="text"]{width: 100%;}
            }
        }
    }
    > div{display: flex; justify-content: center; align-items: center; gap: 10px;
        *{width: 100px;}
    }
}